body[parentmenutype="22"][menutype="21"] .themechooser {
    display: none!important;
}

.k-nav-current > .k-link span + span {
    max-width: 360px;
}



.k-multiselect-wrap.k-floatwrap {
    height: 30px;
}
#example-search-wrapper input {
    padding: 0;
}
ul#sel_scheduler_taglist {
    margin-top: 3px;
}


/*timezone 숨김*/

.k-edit-form-container > div:nth-child(9),
.k-edit-form-container > div:nth-child(10) {
    visibility: hidden;
}



div#example {
    height: 100%;
}

div#scheduler {
    height: 100%!important;  /***123***/
}


div[data-container-for="wdater"] {
    pointer-events: none;
  }
  
  div[data-container-for="wdater"] span.k-icon.k-i-arrow-60-down {
    display: none;
  }

  

  

div.k-content.k-state-active {
    display: block;width: calc(100% - 30px);
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 0;
    overflow-x: hidden;
}
body[isMenuIn="Y"] div.k-content.k-state-active {
    height: calc(100% - 172px);    /***180***/
}
body[isMenuIn="N"] div.k-content.k-state-active {
    height: calc(100% - 111px);    /***119***/
}
body[screenname="fullScreen"] div.k-content.k-state-active {
    height: calc(100% - 111px);    /***119***/
}

body[screenname="fullScreen"] div.k-content.k-state-active {
    height: calc(100% - 111px);    /***119***/
}

body[isMenuIn="N"][isPopup="Y"] div.k-content.k-state-active {
    height: calc(100% - 111px);    /***119***/
}

body[isMenuIn="N"] div.k-content.k-state-active.round_child {
    min-height: calc(100% - 98px); /***106***/ 
}

body[BodyType="only_one_list"] a#btn_delete, body[BodyType="only_one_list"] li#btn_delete_overflow 
, body[BodyType="only_one_list"] a#btn_refWrite, body[BodyType="only_one_list"] li#btn_refWrite_overflow
, body[BodyType="only_one_list"] a#btn_write, body[BodyType="only_one_list"] li#btn_write_overflow {
    display: none!important;
}



body[pageW_YN="N"] a#btn_modify, body[pageW_YN="N"] li#btn_modify_overflow
, body[pageW_YN="N"] a#btn_delete, body[pageW_YN="N"] li#btn_delete_overflow
, body[pageW_YN="N"] a#btn_restore, body[pageW_YN="N"] li#btn_restore_overflow
, body[pageW_YN="N"] a#btn_kill, body[pageW_YN="N"] li#btn_kill_overflow
, body[pageW_YN="N"] a#btn_save, body[pageW_YN="N"] li#btn_save
, body[pageW_YN="N"] a#btn_saveClose, body[pageW_YN="N"] li#btn_saveClose
, body[pageW_YN="N"] a#btn_saveView, body[pageW_YN="N"] li#btn_saveView_overflow {
    display: none!important;
}


div[tabnumber] span.alim {
    font-weight: normal;
    color: darkmagenta;
    background: #fff;
    margin-left: 10px;
    width: 100%;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


div.round_child.k-content.k-state-active {
    width: calc(100% - 10px);
    padding: 0;
    min-height: calc(100% - 98px);    /***106***/
}
div.round_child iframe {
    height: calc(100% - 98px);    /***106***/
    float: left;
}
div.form-group.round_child {
    height: calc(100% - 113px);    /***121***/
    padding: 0px!important;
    margin-bottom: 0;
}

label > span.required {
    font-size: 14px;
    position: relative;
    left: 4px;
    top: 2px;
    color: red;
}

.k-widget.k-tooltip-validation {
    display: none!important;
}

/* 숨겨진 콘트롤은 저장 시 required 로직에 의해 에러발생 */
form#frm select[data-role] {
    display: block!important;
    position: absolute;
    z-index: -1;
    top: 0;
}

body[isMenuIn="Y"] div.round_child.k-content.k-state-active {
    min-height: calc(100% - 167px);
}
body[isMenuIn="Y"] div.round_child iframe {
    height: calc(100% - 167px);
}
body[isMenuIn="Y"] div.form-group.round_child {
    height: calc(100% - 187px);
}

body[screenname="fullScreen"] div.round_child.k-content.k-state-active {
    min-height: calc(100% - 107px);
}
body[screenname="fullScreen"] div.round_child iframe {
    height: calc(100% - 107px);
}
body[screenname="fullScreen"] div.form-group.round_child {
    height: calc(100% - 127px);
}

body[ActionFlag="write"] div.form-group.round_nocontrol {
    display: none;
}



div.k-dropdowntree .k-multiselect-wrap.k-floatwrap {
    min-width: 400px;
    max-height: 250px;
    overflow-y: auto;
}
.k-list-container.k-popup.k-group.k-reset.k-multiple-selection.k-popup-dropdowntree.k-state-border-up {
    min-width: 427px!important;
}

div.form-group.round_child > * {
    padding: 0;
}
div[role="tabpanel"] > div.form-group {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid rgba(0,200,0,0.5);
    border-right: 1px solid rgba(0,200,0,0.5);
    padding-top: 10px;
    border-radius: 0 10px 0 0;
}
div[role="tabpanel"] > div.form-group.round_child {
    border: 0;
}


img.image-preview {
    max-width: 150px;
    max-height: 150px;
}

.card-body > div {
    margin-bottom: 0;
    padding: 0;
    float:left;
}
.col-form-label {
    min-width: 180px;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

.demo-section.k-content {
    box-shadow: inherit;
}


div.nocontrol > div {
  position: relative;
  left: 10px;
  top: 5px;
  overflow: auto;
  padding-right: 45px;
}

table.k-editor {
    width: calc(100% - 30px);
    max-width: 1300px;
    min-height: 450px;
}

div.textarea span.k-widget {
    width: calc(100% - 40px);
    height: 150px;
}

#example textarea {
    width: 100%;
    height: 100%;
}

li.k-tool-group > div.k-widget.k-upload {
    border: 0;
}
li.k-tool-group .k-upload .k-upload-button {
    margin: 0;
}


form .k-editor-inline.k-editor {
    min-height: 50px;
    border: 1px solid #bbdceb;
    max-height: calc(100% - 200px);
    width: calc(100% - 50px);
}
.k-widget.k-window.k-window-titleless.k-editor-widget {
    max-width: calc(100% - 80px);
}

div.k-treeview {
    min-height: 200px;
    max-height: calc(100% - 164px);
}


.textdecrypt2 input[type=text] {
    line-height: 1.65em;
    padding: .17857143em 0;
    text-indent: .571em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-xs-6 {
    width: calc(50% - 1px);
}

form#frm img {
    max-width: calc(100% - 50px);
}

div.nocontrol_pre {
    width: calc(100% - 40px);
}

div.round_nocontrol_pre {
    max-width: 1200px;
}

div.nocontrol_pre pre {
    white-space: pre-wrap;
}


.k-i-customuploadexec:before {
    content: "\e133"!important;
}

ul.k-editor-toolbar > li:nth-child(7) {
    display: none;
}

ul.k-editor-toolbar strong.k-upload-status.k-upload-status-total {
    display: none;
}

body[isMainFrame="Y"] a#btn_close {
    display: none!important;
}
body[isMainFrame="Y"] li#btn_close_overflow {
    display: none!important;
}
body[isMainFrame="Y"] a#btn_up {
    display: none!important;
}
body[isMainFrame="Y"] li#btn_up_overflow {
    display: none!important;
}
body[isMainFrame="Y"] a#btn_down {
    display: none!important;
}
body[isMainFrame="Y"] li#btn_down_overflow {
    display: none!important;
}
body[isMainFrame="Y"] a#btn_saveClose {
    display: none!important;
}
body[isMainFrame="Y"] li#btn_saveClose_overflow {
    display: none!important;
}

body[isMenuIn="Y"] #exampleWrap {
    height: calc(100% - 121px);
}

div#example div.row > div > span.k-widget {
    display: block;
    width: 100%;
}

li[tabnumber] span.cnt {
    display: none;
}

li[tabnumber] span.cnt[cnt] {
    margin-left:5px;
    color: blue;
    background: yellow;
    border-radius: 50%;
    display: inline-block;
    min-width: 25px;
    text-align: center;
}
li[tabnumber] span.cnt[cnt="0"] {
    color: #000;
    background: #c9c9c9;
}



div.round_iframe > div > iframe {
    height: calc(100% - 148px);
}

@media (min-width: 1200px) {
    .col-lg-6 {
        width: calc(50% - 1px);
    }
}

@media screen and (max-width: 1199px) {

    div.demo-section.k-content {
        padding: 0!important;
    }


}


@media screen and (max-width: 999px) {


    /* tabstrip 문제해결을 위해 해당 해상도에서만 적용시킴 */
    div[data-role="tabstrip"] {
        width: 100px;
    }

}

@media (min-width: 768px) {

    .col-sm-6 {
        width: calc(50% - 1px);
    }

    .col-sm-3 {
        width: calc(25% - 2px);
    }
}

@media screen and (max-width: 400px) {
    .col-xxs-12 {
        width: 100%;
    }
}


