
div.k-content.k-state-active {
    display: block;
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 0;
    overflow-x: hidden;
}
body[isMenuIn="Y"] div.k-content.k-state-active {
    height: calc(100vh - 172px);    /***180***/
}
body[isMenuIn="N"] div.k-content.k-state-active {
    height: calc(100vh - 110px);    /***119***/
}
body[screenname="fullScreen"] div.k-content.k-state-active {
    height: calc(100vh - 110px);    /***119***/
}

body[screenname="fullScreen"] div.k-content.k-state-active {
    height: calc(100vh - 110px);    /***119 ***/
}

body[isMenuIn="N"][isPopup="Y"] div.k-content.k-state-active {
    height: calc(100vh - 110px);    /***119***/
}
body[isMobile="Y"] div.k-content.k-state-active {
    overflow-x: auto;
}

body[ismobile="N"] div#list5 {
    margin-top:70px;
}
body[actionflag="write"] a#btn_up
,body[actionflag="write"] a#btn_down
,body[actionflag="write"] a#btn_view {
    display: none!important;
}


body[isauthw="N"] div.form-group.round_tab a.k-button {
    pointer-events: none;
}


div[tabnumber] {
    border-top-width: 1px!important;
}
.form-group.round_iframe {
    padding: 0!important;
    margin: 0!important;
    height: 100%;
}
span.k-loading.k-complete {
    border: 0;
}

body[bodytype="save_templist"] li[tabid="virtual_fieldQnmisPildokMem"], body[BodyType="only_one_list"] a#btn_delete, body[BodyType="only_one_list"] li#btn_delete_overflow 
, body[BodyType="only_one_list"] a#btn_view, body[BodyType="only_one_list"] li#btn_view_overflow
, body[BodyType="only_one_list"] a#btn_refWrite, body[BodyType="only_one_list"] li#btn_refWrite_overflow
, body[BodyType="only_one_list"] a#btn_write, body[BodyType="only_one_list"] li#btn_write_overflow {
    display: none!important;
}
body[BodyType="only_one_list"][psize="5"] a#btn_delete, body[BodyType="only_one_list"][psize="5"] li#btn_delete_overflow, body[BodyType="only_one_list"][psize="5"] a#btn_refWrite
, body[BodyType="only_one_list"][psize="5"] li#btn_refWrite_overflow, body[BodyType="only_one_list"][psize="5"] a#btn_write, body[BodyType="only_one_list"][psize="5"] li#btn_write_overflow {
    display: inline-block!important;
}

body[actionflag="write"] div[tabnumber="1"] > div.form-group:first-child {
    display: none;
}

body[pageW_YN="N"] a#btn_modify, body[pageW_YN="N"] li#btn_modify_overflow
, body[pageW_YN="N"] a#btn_delete, body[pageW_YN="N"] li#btn_delete_overflow
, body[pageW_YN="N"] a#btn_restore, body[pageW_YN="N"] li#btn_restore_overflow
, body[pageW_YN="N"] a#btn_kill, body[pageW_YN="N"] li#btn_kill_overflow
, body[pageW_YN="N"] a#btn_save, body[pageW_YN="N"] li#btn_save
, body[pageW_YN="N"] a#btn_saveClose, body[pageW_YN="N"] li#btn_saveClose
, body[pageW_YN="N"] a#btn_saveView, body[pageW_YN="N"] li#btn_saveView_overflow {
    display: none!important;
}


body[topsite="notmis"] li[tabid="virtual_fieldQnmisPildokMem"]
,body[topsite="notmis"] a#btn_saveClose
,body[topsite="notmis"] span.k-button.k-button-icon.k-flat.k-tabstrip-next 
,body[topsite="notmis"] li[tabalias="viewPrint"]
,body[topsite="notmis"] li[tabalias="commentApp"]
,body[topsite="notmis"] li[tabalias="readApp"]
{
    display: none!important;
}
body[topsite="notmis"] a#btn_list {
    display: inline-block!important;
}


body[topsite="notmis"] .k-panelbar .k-tabstrip>.k-content, .k-tabstrip>.k-content {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    margin: 0;
}

#frm input[readonly] {
    background-color: #f2f2f2;
}
body[kendotheme="moonlight"] #frm input[readonly], body[kendotheme="highcontrast"] #frm input[readonly] {
    background-color: #282c50;
    color: #fff;
}

.k-tabstrip-top>.k-tabstrip-items-wrapper {
    border-bottom-width: 0px;
}
div.round_bottom_line {
    width:calc(100% - 5px);display:block;float:left;border-top:1px solid #a0a0a0;position: relative;top: 1px;z-index: 9;
}

.autocomplete.zipcode {
    min-width: 240px;
}
.autocomplete.zipcode > span {
    max-width: 80px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
a.k-button.zipcode {
    height: 29px;
}
span.selectAll * {
    margin-left: 10px;
    font-weight: normal!important;
}

div.br {
    display: block;
    width: 100%;
    height: 78px;
}

div#round_virtual_fieldQnmisPildokMem {
    display: contents;
}
/* pdf viewer start */
.k-canvas.k-list-scroller.km-widget.km-scroll-wrapper {
    overflow: auto;
    height: calc(100% - 39px);
}
.k-content.k-pdf-viewer .k-overflow-anchor.k-button {
    display: none;
}
/* pdf viewer end */

.k-editor-dialog.k-popup-edit-form textarea {
    width: calc(100% - 26px);
}

/*탭스트립 tabStrip 좌우버튼 노출을 위해 초기 로딩 시 마지막 탭을 길게 함.*/

li.k-item {
    width: 300px;
}


label.k-checkbox-label[for="chbAll"] {
    width: 140px;
    display: inline-block;
    height: 20px;
}
label.k-checkbox-label[for="chbAll"]:before {
    content: "Select All";
    top: 3px;
    position: relative;
    left: 3px;
}
/*
.k-tabstrip-items
{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
*/
span.k-file-group.k-icon.k-i-file {
    display: none;
}
span.k-file-name {
    left: 38px;
}
span.k-file-size {
    left: 37px;
    position: relative;
}
span.k-icon.k-i-save.save {
    font-size: 30px;
    position: absolute;
    cursor: pointer;
}

div.row.subtitle, div.row.sub_title {
    margin-bottom: 0;
    font-size: 20px;
    border-top: 1px solid #a0a0a0!important;
    border-right: 1px solid #a0a0a0!important;
    font-family: Arial, Helvetica, sans-serif;
    height: 28px;
    min-height: initial!important
}
div.sub_title.h_two {
    height: 56px;
}

div.row-0 {
    height: calc(100% - 26px);
}

div.row-1 {
    height: 53px;		/* 64*1 - 11 */
}
div.row-1 pre {
    height: 15px;
}
div.row-2 {
    height: 115px;		/* 64*2 - 11 */
}
div.row-2 pre {
    height: 69px;
}
div.row-3 {
    height: 181px;		
}
div.row-3 pre {
    height: 133px;
}
div.row-4 {
    height: 245px;		
}
div.row-4 pre {
    height: 197px;
}
div.row-5 {
    height: 309px;		
}
div.row-5 pre {
    height: 261px;
}
div.row-6 {
    height: 373px;		
}
div.row-6 pre {
    height: 325px;
}
div.row-7 {
    height: 437px;		
}
div.row-7 pre {
    height: 388px;
}
div.row-8 {
    height: 501px;		
}
div.row-8 pre {
    height: 452px;
}
div.row-9 {
    height: 565px;		
}
div.row-9 pre {
    height: 516px;
}
div.row-10 {
    height: 629px;		
}
div.row-10 pre {
    height: 580px;
}
div.row-52 {
    max-height: 115px;		/* 64*2 - 11 */
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.row-53 {
    max-height: 181px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.row-54 {
    max-height: 245px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.row-55 {
    max-height: 309px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.row-56 {
    max-height: 373px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.row-57 {
    max-height: 437px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.row-58 {
    max-height: 501px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.row-59 {
    max-height: 565px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
div.row-60 {
    max-height: max-content;
}
body[actionflag="modify"] div.row-60, body[actionflag="write"] div.row-60 {
    height: 629px;
}
/*
div[tabnumber] span.alim {
    display: inline-table;
    font-weight: normal;
    margin-left: 10px;
    width: calc(100% - 95px);
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    padding: 1px 2px 0 2px;
    cursor: default;
    height: 19px;
    border: 0;
    background: inherit;
}
*/
div[tabnumber] span.alim {
    display: inline-grid;
    font-weight: normal;
    margin-left: 10px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    padding: 1px 2px 0 2px;
    cursor: default;
    height: 19px;
    border: 0;
    background: inherit;
    width: calc(100vw - 90px);
}

div#round_virtual_fieldQnmisPildokMem span.alim {
    margin-left: 93px;
    padding: 4px 2px 0 7px;
}

body[isMenuIn="N"] div.k-content.k-state-active.round_child {
    min-height: calc(100vh - 96px); /***106***/ 
    overflow: hidden;
}
div.round_child.k-content.k-state-active {
    width: calc(100% - 10px);
    padding: 0;
    min-height: calc(100vh - 96px);    /***106***/
}
div.round_child[tabnumber] iframe {
    height: calc(100vh - 96px);    /***106***/
    float: left;
}
div.round_child[tabnumber="1"] iframe {
    height: calc(100% - 96px);    /***106***/
    float: left;
}
div.form-group.round_child {
    height: calc(100vh - 113px);    /***121***/
    padding: 0px!important;
    margin-bottom: 0;
}
div.round_child[tabnumber="1"] div.form-group.round_child {
    height: auto!important;    /***121***/
    padding: 0px!important;
    margin-bottom: 0;
}
label > span.required {
    font-size: 14px;
    position: relative;
    left: 4px;
    top: 2px;
    color: red;
    width: 9px;
    display: inline-block;
}

.k-widget.k-tooltip-validation {
    display: none!important;
}

/* 숨겨진 콘트롤은 저장 시 required 로직에 의해 에러발생 */
form#frm select[data-role] {
    display: block!important;
    position: absolute;
    z-index: -1;
    top: 0;
}

body[isMenuIn="Y"] div.round_child.k-content.k-state-active {
    min-height: calc(100vh - 158px);    /***167***/
    overflow-y: hidden;
}
body[isMenuIn="Y"] div.round_child iframe {
    height: calc(100vh - 158px);    /***167***/
}
body[isMenuIn="Y"] div.form-group.round_child {
    height: calc(100vh - 158px);    /***187 --> 179***/
}

body[screenname="fullScreen"] div.round_child.k-content.k-state-active {
    min-height: calc(100vh - 96px); /***107***/
    overflow-y: hidden;
}
body[screenname="fullScreen"] div.round_child iframe {
    height: calc(100vh - 92px); /***107-->99;***/
}
body[screenname="fullScreen"] div.form-group.round_child {
    height: 100%;  /***127-->calc(100vh - 119px);***/
}

body[ActionFlag="write"] .write_hide {
    display: none;
}


body[ismobile="Y"] ul.k-editor-toolbar li.k-tool-group.k-button-group:nth-child(n+3) {
    display: none;
}
body[ismobile="Y"] ul.k-editor-toolbar li.k-tool-group:nth-child(n+8) {
    display: none;
}
body[actionflag="view"] .form-group.round_textdecrypt2,
body[actionflag="view"] .upload .k-dropzone,
body[actionflag="view"] .upload button.k-button.k-upload-action,
body[actionflag="modify"] div.round_upload.maxlength_less .upload button.k-button.k-upload-action,
div.round_upload.maxlength_zero .k-dropzone,
body[actionflag="modify"] div.round_upload.maxlength_less .k-dropzone,
div.round_upload.maxlength_zero button.k-button.k-upload-action,
body[actionflag="modify"] div.round_upload.maxlength_less button.k-button.k-upload-action {
    display: none;
}
body[actionflag="modify"] div.round_upload.maxlength_less label[for] {
    pointer-events: none;
}
body[actionflag="view"] .k-widget.k-upload.k-upload-async.k-upload-empty {
    display: none;
    pointer-events: none;
}

body[actionflag="modify"] div.round_dropdownlist.maxlength_less * {
    border: 0;
    pointer-events: none;
}
body[actionflag="modify"] div.round_dropdownlist.maxlength_less .k-icon {
    display: none;
}


body[actionflag="view"] div > span.k-widget.k-dropdown span.k-select {
    display: none;
}
body[actionflag="view"] div > span.k-widget.k-dropdown span.k-dropdown-wrap {
    background: transparent!important;
    border: 0px;
}
body[actionflag="view"] div > span.k-widget.k-dropdown {
    pointer-events: none;
}


body[kendotheme="silver"] .k-tabstrip .k-content.k-state-active {
    color: #000;
}

div.round_textarea.code {
    padding-right: 40px;
}

div.k-dropdowntree .k-multiselect-wrap.k-floatwrap {
    min-width: 400px;
    max-height: 250px;
    overflow-y: auto;
}
.k-list-container.k-popup.k-group.k-reset.k-multiple-selection.k-popup-dropdowntree.k-state-border-up {
    min-width: 427px!important;
}

div.form-group.round_child > * {
    padding: 0;
}
/*
div[role="tabpanel"] > div.form-group:first-child {
    border-top: 0;
    border-right: 0;
}
*/

div[role="tabpanel"] > div.form-group {
    padding-left: 0;
    padding-right: 0;
    border-top: 1px dashed #d4d4d4;
    border-right: 1px dashed #d4d4d4;
    border-radius: 0 5px 0 0;
    float: left;
    min-height: 41px;
    padding-top: 4px;
    margin-bottom: 4px;
}
.nocontrol {
    min-height: 53px;
    height: 100%;
}
div[role="tabpanel"] > div.form-group.round_child {
    border: 0;
}
.k-form-error {
    position: absolute;
    bottom: -25px;
    background: #fff;
    z-index: 9;
}

.CodeMirror {
    width: calc(100% - 40px);
}
.round_textarea.code .textarea {
    height: calc(100% - 30px);
}

.round_textarea.code .CodeMirror {
    height: 100%;
}

img.image-preview {
    max-width: 150px;
    max-height: 150px;
}

.card-body > div {
    margin-bottom: 0;
    padding: 0;
    float:left;
}
.col-form-label {
    width: calc(100% - 30px);
    overflow: hidden;
}
.form-group.row {
    margin-right: -1px;
    margin-left: 0;
}

.demo-section.k-content {
    box-shadow: inherit;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin: 0;
}
div.round_checkbox {
    overflow: hidden;
}
div[tabnumber] div.round_checkbox span.alim {
    margin-left: 0;
    top: 23px;
    left: 0px;
}
div.round_checkbox input {
    margin-right: 4px!important;
}
div.round_checkbox .k-form-error {
    bottom: -21px;
}
div.round_textdecrypt2 label.k-checkbox-label.col-form-label {
    top: 4px;
}
input.isPassSave.k-checkbox {
    float: left;
    margin: 6px 3px 0 9px;
}
div.nocontrol > div {
  position: relative;
  left: 10px;
  top: 5px;
  width: calc(100% - 24px);
  overflow: auto;
  float: left;
  word-break: break-all;
  min-height: 26px;
  height: calc(100% - 30px);
}

table.k-editor {
    width: calc(100% - 30px);
    max-width: 1300px;
}

div.textarea span.k-widget {
    width: calc(100% - 40px);
    height: 150px;
}

#example textarea {
    width: 100%;
    height: 100%;
}

li.k-tool-group > div.k-widget.k-upload {
    border: 0;
}
li.k-tool-group .k-upload .k-upload-button {
    margin: 0;
}



form .k-editor-inline.k-editor {
    min-height: 50px;
    border: 1px solid #bbdceb;
    max-height: calc(100vh - 200px);
    width: calc(100% - 50px);
}
.k-widget.k-window.k-window-titleless.k-editor-widget {
    max-width: calc(100% - 80px);
}

div.round_dropdowntree {
    overflow-y: auto;
}
div.k-treeview {
    min-height: 200px;
    max-height: calc(100vh - 164px);
    overflow: visible;
}
.k-treeview .k-checkbox-wrapper+.k-in {
    top: 3px;
    position: relative;
}

span.option_item {
    display: inline-block;
}

span.option_item label {
    position: relative; 
    top: -2px;
    margin: 0 10px 0 4px;
}



.textdecrypt2 input[type=text] {
    float: left;
    line-height: 1.65em;
    padding: .17857143em 0;
    text-indent: .571em;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}


form#frm img {
    max-width: calc(100% - 50px);
}

div.nocontrol_pre {
    display: inline-block;
    width: calc(100% - 40px);
}

div.round_nocontrol_pre {
    max-width: 1200px;
    display: table;
}

div.nocontrol_pre pre {
    white-space: pre-wrap;
    display: table;
    width: calc(100% - 12px);
    padding-bottom: 0px;
}


.k-i-customuploadexec:before {
    content: "\e133"!important;
}

ul.k-editor-toolbar > li:nth-child(7) {
    display: none;
}

ul.k-editor-toolbar strong.k-upload-status.k-upload-status-total {
    display: none;
}

body[isdialog="Y"] a#btn_up, body[isdialog="Y"] li#btn_up_overflow {
    display: none!important;
}
body[isdialog="Y"] a#btn_down, body[isdialog="Y"] li#btn_down_overflow {
    display: none!important;
}
body[parentactionflag="view"] a#btn_up, body[parentactionflag="view"] li#btn_up_overflow {
    display: none!important;
}
body[parentactionflag="view"] a#btn_down, body[parentactionflag="view"] li#btn_down_overflow {
    display: none!important;
}





body[isMainFrame="Y"] a#btn_close {
    display: none!important;
}
body[isMainFrame="Y"] li#btn_close_overflow {
    display: none!important;
}
body[isMainFrame="Y"] a#btn_up {
    display: none!important;
}
body[isMainFrame="Y"] li#btn_up_overflow {
    display: none!important;
}
body[isMainFrame="Y"] a#btn_down {
    display: none!important;
}
body[isMainFrame="Y"] li#btn_down_overflow {
    display: none!important;
}
body[isMainFrame="Y"] a#btn_saveClose {
    display: none!important;
}
body[isMainFrame="Y"] li#btn_saveClose_overflow {
    display: none!important;
}

body[isMenuIn="Y"] #exampleWrap {
    height: calc(100vh - 121px);
}

/*helplist start*/
div.k-list-container.helplist-container * {
    white-space: pre!important;
}
div.helplist {
    padding: 4px;
}
div.k-list-container {
    font-size: 13px!important;
    font-family: consolas!important;
    letter-spacing: -1px;
}

body[ismobile="N"] div.k-list-container.helplist-container .k-list-scroller {
    height: 262px!important;
}
body[ismobile="N"] div.k-list-container.helplist-container input {
    width: 100%!important;
}


body[ismobile="Y"] div.k-list-container.helplist-container {
    width: calc(100vw - 6px)!important;
    max-width: 700px!important; /* $(document).width() 코딩도 같이 바꿔야함 */
}
body[ismobile="Y"] div.k-list-container.helplist-container input {
    width: 100%!important;
}
/*helplist end*/


.k-file {
    padding: .65em 1em calc(.65em - 2px) 1em;
}

div#example div.row > div > span.k-widget {
    display: block;
    width: 100%;
}
li[tabnumber] span.cnt {
    display: none;
}
li[tabrealpid]:not([tabrealpid=""]) span.cnt {
    min-width: 25px;
    margin-left:5px;
    display: inline-block;
}
li[tabnumber] span.cnt[cnt] {
    margin-left:5px;
    color: blue;
    background: yellow;
    border-radius: 50%;
    display: inline-block;
    min-width: 25px;
    text-align: center;
}
li[tabnumber] span.cnt[cnt="0"] {
    color: #000;
    background: #c9c9c9;
}
.k-tabstrip-top>.k-tabstrip-items .k-item {
    max-width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: normal;
}

#frm a.k-button {
    min-width: 40px;
    margin: 0 4px 0 0;
    padding: 2px 4px;
}





@media print {
	div.noprint {
		display: none!important;
	}
}
@media screen and (max-width: 1199px) {
    div.demo-section.k-content {
        padding: 0!important;
    }
}
@media screen and (max-width: 999px) {
    /* tabstrip 문제해결을 위해 해당 해상도에서만 적용시킴 */
    div[data-role="tabstrip"] {
        width: 100px;
    }
}

div.subtitle > .col-form-label {
    width: calc(100% - 10px);
}
.col-xs-1 {
    width: 8.323%
}
.col-xs-2 {
    width: 16.62%
}
.col-xs-3 {
    width: 24.94%;
}
.col-xs-4 {
    width: 33.271%
}
.col-xs-5 {
    width: 41.616%
}
.col-xs-6 {
    width: 49.941%;
}
.col-xs-7 {
    width: 58.3%
}
.col-xs-8 {
    width: 66.657%
}
.col-xs-9 {
    width: 74.985%
}
.col-xs-10 {
    width: 83.323%
}
.col-xs-11 {
    width: 91.657%
}
.col-xs-12 {
    width: 100%
}
.col-xs-55 {
    width: 19.990%;
}
.col-xs-57 {
    width: 14.276%;
}
.col-xs-58 {
    width: 12.490%;
}
.col-xs-59 {
    width: 11.101%;
}
.col-xs-60 {
    width: 9.990%;
}

@media screen and (max-width: 500px) {
    .col-xxs-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {         /*sm*/
    .col-sm-1 {
        width: 8.323%;
    }
    .col-sm-2 {
        width: 16.62%;
    }
    .col-sm-3 {
        width: 24.94%;
    }
    .col-sm-4 {
        width: 33.271%;
    }
    .col-sm-5 {
        width: 41.616%;
    }
    .col-sm-6 {
        width: 49.941%;
    }
    .col-sm-7 {
        width: 58.3%;
    }
    .col-sm-8 {
        width: 66.657%;
    }
    .col-sm-9 {
        width: 74.985%;
    }
    .col-sm-10 {
        width: 83.323%;
    }
    .col-sm-11 {
        width: 91.657%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-55 {
        width: 19.990%;
    }
    .col-sm-57 {
        width: 14.276%;
    }
    .col-sm-58 {
        width: 12.490%;
    }
    .col-sm-59 {
        width: 11.101%;
    }
    .col-sm-60 {
        width: 9.990%;
    }
}

@media (min-width: 992px) {         /*md*/
    .col-md-1 {
        width: 8.323%;
    }
    .col-md-2 {
        width: 16.62%;
    }
    .col-md-3 {
        width: 24.94%;
    }
    .col-md-4 {
        width: 33.271%;
    }
    .col-md-5 {
        width: 41.616%;
    }
    .col-md-6 {
        width: 49.941%;
    }
    .col-md-7 {
        width: 58.3%;
    }
    .col-md-8 {
        width: 66.657%;
    }
    .col-md-9 {
        width: 74.985%;
    }
    .col-md-10 {
        width: 83.323%;
    }
    .col-md-11 {
        width: 91.657%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-55 {
        width: 19.990%;
    }
    .col-md-57 {
        width: 14.276%;
    }
    .col-md-58 {
        width: 12.490%;
    }
    .col-md-59 {
        width: 11.101%;
    }
    .col-md-60 {
        width: 9.990%;
    }
}

@media (min-width: 1200px) {         /*lg*/
    div.round_textarea.code {
        width: calc(100% - 50px);
        height: calc(100% - 30px);
    }
    .col-lg-1 {
        width: 8.323%;
    }
    .col-lg-2 {
        width: 16.62%;
    }
    .col-lg-3 {
        width: 24.94%;
    }
    .col-lg-4 {
        width: 33.271%;
    }
    .col-lg-5 {
        width: 41.616%;
    }
    .col-lg-6 {
        width: 49.941%;
    }
    .col-lg-7 {
        width: 58.3%;
    }
    .col-lg-8 {
        width: 66.657%;
    }
    .col-lg-9 {
        width: 74.985%;
    }
    .col-lg-10 {
        width: 83.323%;
    }
    .col-lg-11 {
        width: 91.657%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-55 {
        width: 19.990%;
    }
    .col-lg-57 {
        width: 14.276%;
    }
    .col-lg-58 {
        width: 12.490%;
    }
    .col-lg-59 {
        width: 11.101%;
    }
    .col-lg-60 {
        width: 9.990%;
    }
}

/* xs 는 별도 모드지정이 없음 */
/*
@media (min-width: 576px) {         

}
*/



